.h-separator {
  height: 1px;
  width: 70%;
  border-width: 0;
  color: #f08b65;
  background-color: #f08b65
}

.text-right {
  text-align: right!important
}

.text-left {
  text-align: left!important
}
