# build output
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-error.log*

# editors / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# environment
.env
.env.production
